*{
    margin: 0;
    padding: 0;
}
.logo{
    width: 80px;
}
.li{
    display: flex;
    gap: 15px;
    color: white;
}
.navMenu{
   
    background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("banner.jpg");
    padding-bottom: 800px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

}
.navlogo{
    /* display: flex; */
}
.bnmpc{
    color: white;

}

.banner{
   
}

.aboutus{
    margin: 70px;
    display: flex;
    gap: 30px;
    font-family: "Roboto", sans-serif;
    align-items: center;
}
.images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
   
    
   
}
.png{
    width: 100%;
    
}
.sectors{
    display: flex;
    gap: 10px;
    margin: 25px;
    color: rgb(64, 64, 173);
    
}
.secImg{
    width: 100%;
    height: 200px;
}
